:root {
  --mainColor: #b9713d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--mainColor);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #000, #1c1c1c);
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
  font-size: 1.4em;
}

.main-container {
  max-height: 80vh;
  margin-top: 30px;
}

.tasks-container {
  height: 100%;
  max-width: 400px;
}

.tasks-container > div > div:first-of-type {
  text-align: center;
}

.tasks {
  min-height: 50vh;
  overflow-y: auto;
  word-wrap: break-word;
}

input {
  width: 75%;
  background: none;
  border: none;
  border-bottom: solid 2px;
  font-size: 0.8em;
  padding: 8px;
  border-radius: 15px 15px 2px 2px;
}

input:focus {
  outline: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(15, 15, 15) 100%
  );
}

input:focus::placeholder {
  color: transparent;
}

button {
  padding: 8px 15px;
  background: none;
  border: 2px solid;
  font-size: 0.8em;
  border-radius: 2px 15px 15px 2px;
  cursor: pointer;
}

button:hover {
  filter: brightness(130%);
}

button:active {
  transform: translateY(1px);
}

li button {
  border-radius: 0px;
  font-size: 0.5em;
  padding: 2px;
}

li {
  list-style: none;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

li * {
  vertical-align: middle;
}

li p {
  display: inline;
  cursor: pointer;
  user-select: none;
}

.remove-btn {
  font-size: 0.7em;
  border: 1px solid;
  padding: 0px 6px;
  float: right;
}

.remove-btn:hover {
  background-color: var(--mainColor);
  color: black;
  cursor: pointer;
}

.remove-btn:active {
  filter: brightness(130%);
  margin-left: 1px;
}

.controls button,
.bottom-slider button {
  border-radius: 15px;
  margin-bottom: 35px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input[type="color"] {
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 10px;
}

.controls svg {
  stroke: var(--mainColor);
  width: 50%;
}

.bottom-slider {
  width: 250px;
  height: 200px;
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  overflow: hidden;
  transition: 0.15s ease-out;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -10px var(--mainColor);
  white-space: nowrap;
  opacity:0;
}

.bottom-slider * {
  display: block;
  margin: 5px;
}

.bottom-slider button {
  transform: scale(0.8);
  margin: 0;
}

.slider-container {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 405px) {
  .main-container {
    margin: 20px 20px;
  }
}
